@import url(reset.css);
@import "setting.scss";
body {
  background-color: #020305;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}
a {
  color: #fff;
}
body,
input,
textarea,
button {
  font-family: "微軟正黑體", sans-serif;
  letter-spacing: 0.05em;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.wrapperBox {
  min-height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  overflow: hidden;
}
.wrap {
  width: 100%;
  max-width: 1040px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  @include max-media(1280) {
    max-width: 940px;
  }
  @include mm-media(481, 960) {
    padding-left: 8%;
    padding-right: 8%;
  }
}
.hasDataNo {
  &::before {
    content: attr(data-no);
    @include min-media(721) {
      display: none;
    }
  }
}
header {
  padding-top: 58px;
  margin-bottom: 50px;
  .wrap {
    display: flex;
    @include max-media(720) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  .logo {
    width: 100%;
    @include min-media(1281) {
      margin-left: 45px;
    }
    @include min-media(721) {
      max-width: 270px;
      margin-right: 15px;
    }
    .logoImg {
      display: inline-block;
      @include max-media(720) {
        max-width: 270px;
        margin-bottom: 15px;
      }
    }
    .subtitle {
      font-size: 18px;
      color: #fff;
      @include min-media(721) {
        display: none;
      }
    }
  }
  .rightBox {
    flex-grow: 1;
    padding-top: 45px;
    text-align: center;
    @include min-media(1281) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include max-media(720) {
      width: 100%;
      max-width: 530px;
    }
    .title {
      padding-bottom: 15px;
      font-size: 24px;
      color: #fff;
    }
    .subtitle {
      padding-bottom: 5px;
      font-size: 18px;
      color: #ffefd4;
      @include max-media(720) {
        display: none;
      }
    }
    .inputBox {
      margin-bottom: 30px;
      &::placeholder {
        color: #343536;
      }
    }
    input {
      width: 100%;
      height: 65px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 26px;
      background-color: #121315;
      border: 1px solid #ffe3b5;
      color: #fff;
      border-radius: 5px;
      text-align: center;
    }
  }
}
footer {
  padding-bottom: 50px;
  .wrap {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    @include min-media(1281) {
      max-width: 1800px;
    }
  }
}
.mainTitleBox {
  position: relative;
  display: flex;
  width: 100%;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  background-image: url(../images/borderLeft.png), url(../images/borderRight.png);
  background-repeat: no-repeat;
  background-position: left center, right center;
  &::before,
  &::after {
    content: "";
    display: block;
    // width: calc(100% - 200px);
    width: 100%;
    height: 1px;
    margin-top: 9px;
    background-color: #ffe3b5;
  }
  &::before {
    margin-left: 6px;
  }
  &::after {
    margin-right: 6px;
  }
  .insTitle {
    flex-shrink: 0;
    padding-right: 50px;
    padding-left: 50px;
  }
}
.sectionContent {
  margin-top: -10px;
  margin-bottom: 60px;
  padding: 30px;
  border: 1px solid #ffe3b5;
  border-top: none;
  border-radius: 0 0 5px 5px;
}
.sectionPayArea {
  .sectionContent {
    display: flex;
    justify-content: center;
    padding-top: 85px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin-left: -50px;
    margin-right: -50px;
    li {
      width: 33.333%;
      margin-bottom: 40px;
      padding-left: 50px;
      padding-right: 50px;
      @include max-media(720) {
        width: 100%;
      }
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include mm-media(441, 720) {
        flex-direction: row;
        justify-content: flex-start;
      }
    }
    .pic {
      width: 100%;
      max-width: 170px;
      flex-shrink: 0;
    }
    .title {
      margin-bottom: 30px;
      button {
        font-size: 18px;
      }
    }
  }
}
.sectionPriceArea {
  .list {
    .item {
      position: relative;
      display: flex;
      align-items: center;
    }
    .pic {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .price {
      flex-grow: 1;
      padding-right: 10px;
    }
    .primaryBtn {
      margin-left: auto;
    }
  }
  .swiper-pagination {
    position: relative;
    padding-top: 30px;
    bottom: 0 !important;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #626262;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
  &.isDesktop {
    .sectionContent {
      padding-top: 50px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 40px;
    }
    .swiper-pagination {
      display: none;
    }
    .list {
      flex-direction: column;
      .mainTitleBox {
        display: none;
      }
      li {
        &:not(:last-child) {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid #ffe3b5;
        }
        &.hot {
          .item {
            &::before {
              display: block;
            }
          }
        }
      }
      .item {
        padding-left: 30px;
        font-size: 24px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 10px;
          display: none;
          width: 34px;
          height: 42px;
          background-image: url("../images/iconHot.png");
          background-repeat: no-repeat;
        }
      }
      .title {
        width: 100%;
        max-width: 200px;
        padding-right: 10px;
      }
      .pic {
        width: 135px;
        margin-right: 10px;
        img {
          max-width: 90px;
        }
      }
    }
  }
  &.isMobile {
    .mainTitleBox {
      display: none;
    }
    .sectionContent {
      border: none;
      padding-left: 0;
      padding-right: 0;
    }
    .list {
      .mainTitleBox {
        display: flex;
        margin-bottom: -10px;
      }
      li {
        &.hot {
          .title {
            &::before {
              display: block;
            }
          }
        }
      }
      .item {
        flex-direction: column;
        border: 1px solid #ffe3b5;
        border-top: none;
        text-align: center;
        font-size: 30px;
        padding: 100px 15px 15px;
      }
      .pic {
        margin-bottom: 20px;
      }
      .title {
        position: relative;
        display: inline-block;
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 20px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 62px;
          height: 74px;
          background-image: url("../images/iconHot.png");
          background-repeat: no-repeat;
          display: none;
        }
      }
      .price {
        margin-bottom: 35px;
      }
      .primaryBtn {
        width: 100%;
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}
.primaryBtn {
  width: 100%;
  max-width: 365px;
  padding: 14px 5px;
  border: none;
  background-color: #6b1010;
  border-radius: 5px;
  font-size: 24px;
  color: #fff;
  &.small {
    max-width: 220px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
.moduleArea {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  &.transition {
    transition: 0.8s;
  }
  .mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
    opacity: 0;
    cursor: pointer;
    transition: all 0.8s;
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
    .mask {
      opacity: 1;
    }
    .moduleContent {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.4s;
    }
  }
}
.moduleContent {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 20vh;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.8s;
}
.moduleBox {
  position: relative;
  width: 100%;
  border: 1px solid #ffe3b5;
  border-radius: 5px;
  padding: 8px;
}
.moduleIns {
  padding: 15px 26px 30px 26px;
  border-radius: 5px;
  background-color: #fff;
  @include max-media(440) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .topTitle {
    margin-bottom: 10px;
    font-size: 30px;
    color: #000;
    text-align: center;
  }
  .content {
    padding: 55px 30px 15px;
    background-color: #000;
    border-radius: 5px;
    text-align: center;
    .pic {
      width: 100%;
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
      img {
        max-width: 100%;
      }
    }
    .title {
      padding-bottom: 15px;
      font-size: 30px;
    }
    .text {
      padding-bottom: 5px;
      font-size: 48px;
      color: #ffe3b5;
    }
  }
}

// .swiper {
//   width: 600px;
//   height: 300px;
// }
